---
- name: Déploiement fullstack monorepo
  hosts: prod
  become: yes
  vars:
    repo_src: "{{ repo_src | default(github_workspace) }}"

  tasks:

    - name: Nettoyer l'ancien projet
      file:
        path: /var/www/devops/
        state: absent

    - name: Recréer le dossier projet
      file:
        path: /var/www/devops/
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Copier tout le repo
      copy:
        src: "{{ repo_src }}/"
        dest: /var/www/devops/
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Installer les dépendances backend
      command: npm install
      args:
        chdir: /var/www/devops/server/

    - name: Redémarrer le backend avec PM2
      command: pm2 restart projetdevops
      ignore_errors: yes
